# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
*.lock

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
/coverage/

# Symbolication and Obfuscation related
app.*.symbols
app.*.map.json

# --- ANDROID ---
/android/app/debug
/android/app/profile
/android/app/release
.gradle/
local.properties
**/android/**/generated/
*.jks
*.keystore

# --- iOS & macOS (Apple) ---
**/ios/Pods/
**/ios/.symlinks/
**/macos/Pods/
**/macos/.symlinks/
DerivedData/
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# --- LINUX ---
**/linux/flutter/ephemeral/

# --- WINDOWS ---
**/windows/flutter/ephemeral/
**/windows/visual_studio/
*.exe
*.dll
*.pdb

# --- Environment Variables (Recomendado) ---
.env*